<?xml version="1.0" encoding= "UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.janwes.mapper.PermissionInfoMapper">
    <select id="selectAll" parameterType="int" resultType="com.janwes.pojo.PermissionInfo">
        select
            permission.permission_id permissionId,permission.permission_code permissionCode,permission.permission_name permissionName
        from
            permission_info permission,role_permission_mapping rp
        where
            rp.role_id=#{roleId}
            and rp.permission_id=permission.permission_id
    </select>
</mapper>